# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Secrets
.env

# Test / coverage
.pytest_cache/
.coverage

# Data & models (optional)
data/
*.csv
*.xlsx
models/
*.pkl
*.joblib

# Plots / outputs
plots/
*.png
*.jpg
